{% extends "::base.html.twig" %}

{% block title %}Home - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="header-margin"></div>
    <div class="shopping-cart">
        <div class="cart-container">
            <div class="empty" style="display:none">
                No more twinkies !
            </div>
            <ul class="cart mini-cart">
                {% for cartProduct in cartProducts %}
                    <li class="product id-row" data-id="{{ cartProduct.product.id }}"
                        data-price="{{ cartProduct.price }}"
                        data-quantity="{{ cartProduct.quantity }}">
                        <div class="product-preview">
                            <div class="thumbnail tmp">
                                <img src="{{ vich_uploader_asset(cartProduct.product, 'imageFile') }}" alt="{{ cartProduct.product.title }}" style="height: 180px" class="shake"/>
                            </div>
                            <div class="product-paper">
                                <div class="product-name">
                                    {{ cartProduct.product.title }}
                                </div>
                                <div class="product-price">
                                    {{ cartProduct.product.price|number_format(2, '.', '2') }} €
                                </div>
                            </div>
                        </div>
                        <div class="product-quantity">
                            x{{ cartProduct.quantity }}
                        </div>
                        <div class="product-interactions">
                            <div class="button plus">
                                +
                            </div>
                            <div class="button minus">
                                -
                            </div>
                            <div class="button del"></div>
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <table class="bill">
        <tbody><tr class="subtotal">
            <td class="label">
                Subtotal :
            </td>
            <td class="value">
                0 €
            </td>
        </tr>
        <tr>
            <td class="label">
                Shipping :
            </td>
            <td class="value">
                1.00 €
            </td>
        </tr>
        <tr class="total">
            <td class="label">
                Total :
            </td>
            <td class="value">
                0 €
            </td>
        </tr>
        </tbody>
    </table>

    <div class="actions">
        <div class="big-button go">
            Get them !
        </div>
    </div>

    <div class="actions">
        <div class="big-button return">
            Return to shop
        </div>
    </div>

    <div id="home" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
            <li data-target="#home" data-slide-to="0" class="active"></li>
            <li data-target="#home" data-slide-to="1"></li>
            <li data-target="#home" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
            <div class="item active" style="background-image: url({{ asset("images/front-top-fruits.jpg") }})">
                <img src="{{ asset("images/green.png") }}" class="shake">
                <div class="carousel-caption">
                    <h3>Morning Shake</h3>
                    <p>Morning Shake Description</p>
                </div>
            </div>
           <div class="item" style="background-image: url({{ asset("images/fruits.jpg") }})">
               <img src="{{ asset("images/red.png") }}" class="shake">
                <div class="carousel-caption">
                    <h3>Lunch Shake</h3>
                    <p>Lunch Shake Description</p>
                </div>
            </div>
            <div class="item" style="background-image: url({{ asset("images/front-vegetables.jpg") }})">
                <img src="{{ asset("images/orange.png") }}" class="shake">
                <div class="carousel-caption">
                    <h3>Dinner Shake</h3>
                    <p>sDinner Shake Description</p>
                </div>
            </div>
        </div>

        <a class="left carousel-control" href="#home" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#home" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div id="about" class="container text-center">
        <h3 class="text-uppercase">{{ 'home.energyshake'|trans }}</h3>
        <p><em>{{ 'home.feel_the_fresh'|trans }}</em></p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <p class="text-center"><strong>{{ 'home.delivery'|trans }}</strong></p><br>
                <a href="#" data-toggle="collapse">
                    <img src="{{ asset("images/delivery.jpg") }}" class="img-circle person" alt="Random Name" width="255" height="255">
                </a>
            </div>
            <div class="col-sm-4">
                <p class="text-center"><strong>{{ 'home.consultation'|trans }}</strong></p><br>
                <a href="#" data-toggle="collapse">
                    <img src="{{ asset("images/consultation.jpg") }}" class="img-circle person" alt="Random Name" width="255" height="255">
                </a>
            </div>
            <div class="col-sm-4">
                <p class="text-center"><strong>{{ 'home.plan'|trans }}</strong></p><br>
                <a href="#" data-toggle="collapse">
                    <img src="{{ asset("images/plan.jpg") }}" class="img-circle person" alt="Random Name" width="255" height="255">
                </a>
            </div>
        </div>
    </div>

    <div id="products" class="bg-1">
        <div class="container">
            <h3 class="text-center text-uppercase">{{ 'home.newest_products'|trans }}</h3>
            <p class="text-center">Lorem ipsum something about products!</p>
            <div class="row text-center">
                <div class="cart-container">
                    <div class="empty" style="display:none">
                        No more twinkies !
                    </div>
                    <ul class="cart list">
                        {% for product in list %}
                            <li class="product id-row" data-id="{{ product.id }}"
                                data-price="{{ product.price }}"
                                data-quantity="{{ product.properties['cartQuantity'] }}">
                                <div class="product-preview">
                                    <div class="thumbnail tmp">
                                        <img src="{{ vich_uploader_asset(product, 'imageFile') }}" alt="{{ product.title }}" style="height: 180px" class="shake"/>
                                    </div>
                                    <div class="product-paper">
                                        <div class="product-name">
                                            {{ product.title }}
                                        </div>
                                        <div class="product-price">
                                            {{ product.price|number_format(2, '.', '2') }} €
                                        </div>
                                    </div>
                                </div>
                                <div class="product-quantity">
                                    x{{ product.properties['cartQuantity'] }}
                                </div>
                                <div class="product-interactions">
                                    <div class="button plus">
                                        +
                                    </div>
                                    <div class="button minus">
                                        -
                                    </div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="contacts" class="container">
        <h3 class="text-center">{{ 'home.contacts'|trans }}</h3>
        <p class="text-center"><em>{{ 'home.feedback'|trans }}</em></p>

        <div class="row">
            <div class="col-md-4">
                <p>{{ 'home.contacts'|trans }}</p>
                <p><span class="glyphicon glyphicon-map-marker"></span> {{ 'home.location'|trans }}</p>
                <p><span class="glyphicon glyphicon-phone"></span><a href="tel:+3701234567"> +3706 12 34567</a></p>
                <p><span class="glyphicon glyphicon-envelope"></span><a href="mailto:info@energyshake.lt"> info@energyshake.lt</a></p>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="name" name="name" placeholder="{{ 'home.form.name'|trans }}" type="text" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="email" name="email" placeholder="{{ 'home.form.email'|trans }}" type="email" required>
                    </div>
                </div>
                <textarea class="form-control" id="comments" name="comments" placeholder="{{ 'home.form.comment'|trans }}" rows="5"></textarea>
                <br>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <button class="btn pull-right" type="submit">{{ 'home.form.send'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
