{% extends "::base.html.twig" %}

{% block title %}Home - {{ parent() }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div id="home" class="carousel slide" data-ride="carousel">

        <ol class="carousel-indicators">
            <li data-target="#home" data-slide-to="0" class="active"></li>
            <li data-target="#home" data-slide-to="1"></li>
            <li data-target="#home" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
            <div class="item left-align active" style="background-image: url({{ asset("images/front-top-fruits.jpg") }})">
                <img src="{{ asset("images/green.png") }}" class="shake">
                <img src="{{ asset("images/red.png") }}" class="shake">
                <img src="{{ asset("images/orange.png") }}" class="shake">
                <div class="carousel-description left">
                    <h1>ENERGYSHAKE</h1>
                    <p>
                        Tai subalansuotas sveiko, kokybiško bei skanaus maisto racionas kiekvienai
                        dienai su visais elementais, reikalingais mūsų organizmui.
                        Jūs visai diena aprūpinti tinkamu maistu.
                    </p>
                </div>
            </div>
            <div class="item right-align" style="background-image: url({{ asset("images/fruits.jpg") }})">
                <img src="{{ asset("images/red.png") }}" class="shake">
                <img src="{{ asset("images/green.png") }}" class="shake">
                <div class="carousel-description right">
                    <h1>PRISTATYMAS</h1>
                    <p>ENERGYSHAKE kasdien pristato šviežius ir subalansuotus kokteilius į
                        Jūsų namus ar ofisą. Naudojame tik aukščiausios kokybės
                        produktus su gausybe sveikų ingredientų nenaudojant jokių
                        priedų, skonio stipriklių ir cukraus.</p>
                </div>
            </div>
            <div class="item right-align" style="background-image: url({{ asset("images/front-vegetables.jpg") }})">
                <img src="{{ asset("images/orange.png") }}" class="shake">
                <img src="{{ asset("images/red.png") }}" class="shake">
                <div class="carousel-description right">
                    <h1>MITYBOS PLANAS</h1>
                    <p>Siūlome 3 pagrindines programas: svorio mažinimo "Light", kiekvienai dienai
                        "Balansas" ir svorio auginimui "Sporto". Taip pat rasite mitybos programą
                        norintiems maitintis subalansuotai darbe - "Mityba darbe" ir programą
                        "Individuali" netoleruojantiems tam tikrų kategorijų produktų.</p>
                </div>
            </div>
        </div>

        <a class="left carousel-control" href="#home" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#home" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>

    <div id="about" class="container text-center">
        <h2>ENERGYSHAKE</h2>
        <p class="about-p"> Sutikite, maistas, kurį valgome daro didelę įtaką mūsų darbingumui,
            sėkmei reikaluose, figūrai ir svarbiausia - sveikatai.
            Todėl labai svarbu maitintis visavertiškai ir subalansuotai. EnergyShake
            padeda Jums maitintis sveikai bei suteikia visų vitaminų, mineralų ir
            kitų maistinių medžiagų kiekį, reikalingą Jums palaikyti puikią fizinę
            ir emocinę būseną.</p>
        <h2>PAJUSKITE GAIVĄ</h2>
        <p class="about-p"> Tačiau, dėl pagreitėjusio gyvenimo ritmo dažnai sunku pasirūpinti sveiku
            maistu sau ir savo šeimai. Tik pagalvokite, kas būtų, jeigu galėtumėte
            patikėti šį nuolatinį rūpestį specialistams!</p>
        <h2>INDIVIDUALIOS KONSULTACIJOS</h2>
        <p class="about-p"> Mes kruopščiai atrenkame produktus pagal baltymų, angliavandenių ir riebalų
            kiekį taip, kad Jūs daugiau niekada negalvotumėte apie nereikalingus
            kilogramus. Kartu su mumis Jūsų organizmas ugdo sveikus įpročius bei
            Jūs patobulinate savo kūno formas be jokio streso ir badavimo.</p>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <p class="text-center"><strong>{{ 'home.delivery'|trans }}</strong></p><br>
                <a href="#" data-toggle="collapse">
                    <img src="{{ asset("images/delivery.jpg") }}" class="img-circle person" alt="Random Name" width="255" height="255">
                </a>
            </div>
            <div class="col-sm-4">
                <p class="text-center"><strong>{{ 'home.consultation'|trans }}</strong></p><br>
                <a href="#" data-toggle="collapse">
                    <img src="{{ asset("images/consultation.jpg") }}" class="img-circle person" alt="Random Name" width="255" height="255">
                </a>
            </div>
            <div class="col-sm-4">
                <p class="text-center"><strong>{{ 'home.plan'|trans }}</strong></p><br>
                <a href="#" data-toggle="collapse">
                    <img src="{{ asset("images/plan.jpg") }}" class="img-circle person" alt="Random Name" width="255" height="255">
                </a>
            </div>
        </div>
    </div>

    <div id="products" style="background-image: url({{ asset("images/wood-background.jpg") }})">
        <div class="container">
            <h3 class="text-center text-uppercase">{{ 'home.newest_products'|trans }}</h3>
            <div class="row text-center">
                <div class="cart-container">
                    <ul class="cart list">
                        {% for product in list %}
                            <li class="product id-row" data-id="{{ product.id }}"
                                data-price="{{ product.price }}"
                                data-quantity="{{ product.properties['cartQuantity'] }}">
                                <div class="product-preview">
                                    <a href="{{ path('app.product', {'id': product.id}) }}">
                                        <div class="thumbnail tmp">
                                            <img src="{{ vich_uploader_asset(product, 'imageFile') }}" alt="{{ product.title }}" class="shake"/>
                                        </div>
                                    </a>
                                    <div class="product-paper">
                                        <div class="product-name">
                                            {{ product.title }}
                                        </div>
                                        <div class="product-price">
                                            {{ product.price|number_format(2, '.', '2') }} €
                                        </div>
                                    </div>
                                </div>
                                <div class="product-quantity">
                                    x{{ product.properties['cartQuantity'] }}
                                </div>
                                <div class="product-interactions">
                                    <div class="button plus">
                                        +
                                    </div>
                                    <div class="button minus">
                                        -
                                    </div>
                                    <div class="button del"></div>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div id="contacts" class="container">
        <h3 class="text-center">{{ 'home.contacts'|trans }}</h3>
        <p class="text-center">{{ 'home.feedback'|trans }}</p>

        <div class="row">
            <div class="col-md-4 contacts">
                <p>{{ 'home.contacts'|trans }}</p>
                <p><span class="glyphicon glyphicon-map-marker"></span> {{ 'home.location'|trans }}</p>
                <p><span class="glyphicon glyphicon-phone"></span><a href="tel:+3701234567"> +3706 12 34567</a></p>
                <p><span class="glyphicon glyphicon-envelope"></span><a href="mailto:info@energyshake.lt"> info@energyshake.lt</a></p>
            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="name" name="name" placeholder="{{ 'home.form.name'|trans }}" type="text" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="email" name="email" placeholder="{{ 'home.form.email'|trans }}" type="email" required>
                    </div>
                </div>
                <textarea class="form-control" id="comments" name="comments" placeholder="{{ 'home.form.comment'|trans }}" rows="5"></textarea>
                <br>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <button class="btn pull-right" type="submit">{{ 'home.form.send'|trans }}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
