{% extends "::base.html.twig" %}

{% block title %}Home - {{ parent() }}{% endblock %}

{% block stylesheets %}
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">
    {{ parent() }}
    <style>
        body {
            margin: 0;
            padding: 0;
            font-weight: 100;
            font-family: 'Lato';
        }

        .title {
            margin: 20px auto;
            text-align: center;
            font-size: 70px;
            font-weight: 700;
        }

        .link{
            text-align: center;
            font-size: 20pt;
            display: block;
            font-weight: 700;
        }

    </style>
{% endblock %}

{% block body %}
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <p class="link">Logged as: {{ app.user.username }} </p>
        <a href="{{ logout_path() }}" class="link"> Logout</a>
    {% else %}
        <a href="{{ path('app_facebook_connect') }}" class="link"> Login/Register </a>
    {% endif %}

    <div class="title">Energy Shake</div>
    <div><a href="{{ path('app.product') }}" class="link">Product</a></div>
{% endblock %}
