{% extends "::base.html.twig" %}

{% block title %}Profile - {{ parent() }}{% endblock %}

{% block body %}
    <section class="front-block section-profile">
        <span class="front-title">
            {{ app.user.username }} profile
        </span>
        <div style="color: red">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </section>
{% endblock %}
